@use '../util' as u;

// placeholder-shown

%widget{
    padding : u.rem(16);
}

.grid{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    //max-width: 1000px;
    width: min(100%,1000px);
    margin-inline: auto;
    padding-left: 20px;
    padding-right: 20px;

    // @media (min-width:900px){
    //     grid-template-columns: 2fr 1fr;
    //     grid-template-rows: auto;
    //     padding-left: 0;
    //     padding-right: 0;
    // }

    @include u.breakpoint(large){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        padding-left: 0;
        padding-right: 0;
    }

    &__main, &__sidebar{
        padding: 40px;
    }

    &__main{
        // background-color: hsl(240, 95%, 30%);

        // @include u.breakpoint(medium){
        //     background-color: hsl(59, 95%, 30%);
        // }
        // @include u.breakpoint(large){
        //     background-color: hsl(190, 95%, 30%);
        // }        

    }

    &__sidebar{

        @include u.breakpoint-down(small){
            text-align: center;
        }

    }

    &__widget{

        padding : u.rem(16);
        // &--magenta{
        //     @extend %widget;
        //     background-color: hsl(300, 94%, 32%);
        // }    
        
        // &--green{
        //     //@extend .grid__widget;
        //     @extend %widget;
        //     background-color: hsl(120, 96%, 31%);
        // }

        
     }

}